<!DOCTYPE html>
<html>
<head>
	<title>Day 20 HW Index Page</title>
	<style>
		
	</style>
</head>
<body>
	<h1>Mars Missons:</h1>
	<% for(let i = 0; i < mission.length; i++) { %>
		<h3>Mission: <a href="/mission/<%= i %>"><%=mission[i].name%></a></h3>

	<% } %>

</body>
</html>