<!DOCTYPE html>
<html>
<head>
  <title>Mission Show Page</title>
</head>
<body>
  
  <h1>Mission Show Page</h1>
  <h2>Mission Name: <%= missions.name %></h2>
  <h2>Launch Date: <%= missions.launchDate %></h2>
  <h2>Operator: <%= missions.operator %></h2>
  <h2>Mission Type: <%= missions.missionType %></h2>
  
</body>
</html>